@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');


/*  get rid of standard padding and margins and set box type to border box to make it scale easier  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* set standard font settings and hide overflow  */
html, body {
    overflow-x: hidden;
    padding: 2rem;

    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 1.7;
    font-size: 1rem;
    color: #777;
}

/*  header */
.header {
    position: relative;
    height: 95vh;
    background-image:   linear-gradient(to right bottom, rgba(8, 184, 17, 0.801), rgba(0, 255, 13, 0.767)), 
                        url(img/mountains.jpeg);
    background-size: cover;
    background-position: top;
    clip-path: polygon( 0 0, 100% 0, 100% 75%, 0 100%  ); /* follow the path in the order of x y from top left in clockwise direction  for a handy tool go to bennettfeely.com/clippy */
}

/* main header content */
.logobox {
    position: absolute; /* only works because the position of the parent is also set*/
    top: 2rem;
    left: 2rem;
}

.logo {
    height: 3rem;
}

.text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -40%, -50%); /* css always calculates from the top left of the element box, this fix transforms the calculated location to the center of the element */
    text-align: center;
}

.primary-header {
    color: white;
    align-content: center;
    text-transform: uppercase;
    backface-visibility: hidden; /* to prevent known glitches in animation, does not work if you want to rotate because it has no backface anymore */
}

.primary-title {
    font-size: 2rem;
    letter-spacing: .2rem;
    font-weight: 700;
    display: block;
    animation: moveInLeft 2s ease-out;
}

.primary-text {
    font-size: 1rem;
    letter-spacing: .1rem;
    font-weight: 400;
    display: block;

    animation: moveInRight 2s ease-out;
}

.btn-white, .btn-white:visited, .btn-white:link  {
    background-color: white;
    text-transform: uppercase;
    text-decoration: none;
    color: inherit;
    display: inline-block;
    padding: .5rem;
    margin: 1rem;
    border-radius: .5rem;

    animation: moveInBottom 1.5s ease-out .75s;
    animation-fill-mode: backwards; /* before the animation plays, the button has the 0% state of the animation */
}

.btn-white:hover {
    transform: scale( 1.1);
    transition: 0.2s ease-out;
}


/* main header animation */
@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX( -3rem);
    } 
    
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX( 3rem);
    } 
    
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(3rem);

    } 100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Reminder

when using animation only use transform and opacity, the others are not optimized yet
when making keyframes do so in % 0% begin the start end 100% begin the end. 
you can add any number of keyframes at different %.

*/

/* green container for blend setting experiments */

.green-container {
    display:block;
    overflow: hidden; /* scale to fit content */
    margin-top: 2rem;
    padding: 10rem 0 10rem 0;
    background-color:rgb(0, 255, 13);
    clip-path: polygon(0% 10rem, 100% 0%, 100% calc(100% - 10rem), 0% 100%);
    width: 100%;
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
}

.blender-black {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    color: white;
    mix-blend-mode: darken; 

}

.blender-white {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    color: black;
    mix-blend-mode: lighten; 
}